<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Email" connectionString="endpoint=https://tlf-comm-service.communication.azure.com/;accesskey=R9CnmGixfsRScejJqpHxaKVfO0Fg4O5xbCv28dMy5lQaXjLXRJO/MUW7CQ7M/Lbqi2zytHVFCl1uBcvRkiXk/g=="/>
	</connectionStrings>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=thelottofactorystorage;AccountKey=G5ODjspiF3XYWScQQjhn+gLbO5oI3vx5TFuLPxvEhI4hK7UD+GCMAsZUcKdPzyOhhaVI1SLjRP0/ctkE/1G8qg==;EndpointSuffix=core.windows.net"/>
	</appSettings>
</configuration>
